node_modules/
.env
venv/
*.pyc
*.log
chrome-win64
Driver_Notes
docker-compose.yml
frontend/src/pages/BuggyLogs.jsx
upload_test.py
list_files.py
test.png
backend/api/tests.py

/backend/api/migrations
/backend/api/tests.py
whatthetruck-*.json